/* COLORES  */
.negro {
  background: black; }
  .negro .logo {
    width: 40px; }
  .negro .nav-item:hover {
    background: #6b6b6b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  .negro .nav-link {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 200;
    font-family: "Barlow";
    text-align: center; }
  .negro .active {
    background: #929292; }

/* AL HACER SCROLL */
.top-nav-collapse {
  background: rgba(131, 131, 131, 0.9); }
