/* COLORES  */
section.tarjetas-servicios {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(123, 123, 123, 0.5);
  margin-top: 50px;
  background: #f8f8f8; }
  section.tarjetas-servicios .tarjetas__titular--servicios1 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Quicksand";
    text-align: center;
    background-image: url("../img/marmol-negro1.jpg");
    height: 50px;
    margin-top: 100px;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  section.tarjetas-servicios .tarjetas__titular--servicios {
    font-size: 20px;
    font-weight: 600;
    font-family: "Quicksand";
    text-align: center;
    background-image: url("../img/marmol-negro1.jpg");
    height: 50px;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  section.tarjetas-servicios .tarjetas-servicios__info {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 20px;
    padding: 15px 0;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    font-family: "Barlow"; }
  section.tarjetas-servicios img {
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(123, 123, 123, 0.5); }
  section.tarjetas-servicios h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Quicksand";
    color: #929292; }
  section.tarjetas-servicios .fa-chevron-right {
    margin-right: 15px;
    font-size: 25px;
    color: #e4e4e4; }

/* ---------------------------------------------------------- */
/* -------------------- MEDIA QUERIES -------------------- */
@media screen and (min-width: 992px) {
  section.tarjetas-servicios .tarjetas-servicios__info {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px; }
    section.tarjetas-servicios .tarjetas-servicios__info img {
      height: 98%;
      object-fit: cover;
      margin-bottom: 20px; } }

@media screen and (min-width: 1024px) {
  section.tarjetas-servicios .tarjetas__titular--servicios1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Quicksand";
    height: 80px;
    padding-top: 15px; }
  section.tarjetas-servicios .tarjetas__titular--servicios {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Quicksand";
    height: 80px;
    padding-top: 15px; }
  section.tarjetas-servicios .tarjetas-servicios__info {
    column-gap: 20px; } }

@media screen and (min-width: 1200px) {
  section.tarjetas-servicios {
    height: 580px; }
    section.tarjetas-servicios .tarjetas__titular--servicios1 {
      font-size: 3rem;
      font-weight: 600;
      font-family: "Quicksand";
      height: 80px;
      padding-top: 15px; }
    section.tarjetas-servicios .tarjetas__titular--servicios {
      font-size: 3rem;
      font-weight: 600;
      font-family: "Quicksand";
      height: 80px;
      padding-top: 15px; }
    section.tarjetas-servicios .tarjetas-servicios__info {
      column-gap: 20px; }
      section.tarjetas-servicios .tarjetas-servicios__info img {
        height: 80%;
        object-fit: cover;
        margin-bottom: 20px; } }
