@charset "UTF-8";
/* COLORES  */
/* COLORES  */
section.portada {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.973) 100%), url("../img/marmol-negro1.jpg");
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-size: cover;
  margin-bottom: 30px; }
  section.portada img {
    width: 250px;
    margin-top: 30px; }

section.tarjetas {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(123, 123, 123, 0.5);
  margin-bottom: 20px;
  margin-top: 50px;
  background: #f8f8f8; }
  section.tarjetas a {
    text-decoration: none;
    color: #000000; }
  section.tarjetas .tarjetas__titular {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Quicksand";
    text-align: center;
    background-image: url("../img/marmol-negro1.jpg");
    height: 50px;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  section.tarjetas .tarjetas__info {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    margin-top: 5px;
    padding-top: 10px;
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Barlow"; }
    section.tarjetas .tarjetas__info h3 {
      font-size: 1.25rem;
      font-weight: 600;
      font-family: "Quicksand";
      color: #929292; }
  section.tarjetas .tarjetas__fotos {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 20px;
    padding: 15px 0; }
    section.tarjetas .tarjetas__fotos img.galeria {
      box-shadow: 0 4px 4px 0 rgba(123, 123, 123, 0.5);
      border-radius: 5px;
      width: 100%; }
    section.tarjetas .tarjetas__fotos img:hover {
      opacity: .5;
      cursor: pointer; }
  section.tarjetas .fa-lightbulb {
    color: #e0d996;
    margin-right: 15px;
    font-size: 1.6rem; }
  section.tarjetas .fa-pencil-ruler {
    color: #72719e;
    margin-right: 15px;
    font-size: 1.6rem; }
  section.tarjetas .fa-ruler-combined {
    color: #a1bd95;
    margin-right: 15px;
    font-size: 1.6rem; }
  section.tarjetas .fa-heart {
    color: #c79999;
    margin-right: 15px;
    font-size: 1.6rem; }
  section.tarjetas .boton {
    border-radius: 15px;
    text-align: center;
    width: 120px;
    height: 30px;
    margin-bottom: 15px;
    padding-top: 3px;
    background: #929292;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5); }
    section.tarjetas .boton a {
      text-decoration: none;
      color: #ffffff; }
  section.tarjetas .boton:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    background: #000000; }
    section.tarjetas .boton:hover a {
      color: #ffffff; }
  section.tarjetas .centrar {
    display: flex;
    justify-content: center;
    align-items: center; }

/* ---------------------------------------------------------- */
/* -------------------- MEDIA QUERIES -------------------- */
@media screen and (min-width: 992px) {
  section.portada {
    height: 500px; }
    section.portada img {
      width: 350px; }
  section.tarjetas a {
    text-decoration: none;
    color: #000000; }
  section.tarjetas .tarjetas__info {
    padding-top: 15px; } }

@media screen and (min-width: 1024px) {
  section.portada {
    height: 636px; }
    section.portada img {
      width: 400px; }
  section.tarjetas {
    cursor: pointer; }
    section.tarjetas a {
      text-decoration: none;
      color: #000000; }
    section.tarjetas .tarjetas__titular {
      font-size: 3rem;
      font-weight: 600;
      font-family: "Quicksand";
      height: 80px;
      padding-top: 15px; }
    section.tarjetas .tarjetas__info {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      padding-top: 15px; }
    section.tarjetas .tarjetas__fotos {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px; }
    section.tarjetas .centrar, section.tarjetas .boton {
      display: none; }
  #about {
    height: 250px; }
  #contacto {
    height: 230px; }
  #about:hover {
    transform: scale(1.1);
    transition: all .8s ease; }
  #servicios:hover {
    transform: scale(1.1);
    transition: all .8s ease; }
  #contacto:hover {
    transform: scale(1.1);
    transition: all .8s ease; } }

@media screen and (min-width: 1200px) {
  section.portada {
    height: 636px; }
    section.portada img {
      width: 400px; }
  section.tarjetas {
    cursor: pointer; }
    section.tarjetas a {
      text-decoration: none;
      color: #000000; }
    section.tarjetas .tarjetas__titular {
      font-size: 3rem;
      font-weight: 600;
      font-family: "Quicksand";
      height: 80px;
      padding-top: 15px; }
    section.tarjetas .tarjetas__info {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      padding-top: 15px; }
    section.tarjetas .tarjetas__fotos {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px; }
    section.tarjetas .centrar, section.tarjetas .boton {
      display: none; }
  #about {
    height: 230px; }
  #contacto {
    height: 230px; } }

/* COLORES  */
section.tarjetas-sobreMi {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(123, 123, 123, 0.5);
  margin-top: 50px;
  background: #f8f8f8; }
  section.tarjetas-sobreMi .tarjetas__titular--about {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: "Quicksand";
    text-align: center;
    background-image: url("../img/marmol-negro1.jpg");
    height: 50px;
    margin-top: 100px;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  section.tarjetas-sobreMi .tarjetas-sobreMi__info {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 10px;
    padding-top: 10px;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    font-family: "Barlow"; }
  section.tarjetas-sobreMi img {
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(123, 123, 123, 0.5);
    margin-bottom: 15px; }

/* ---------------------------------------------------------- */
/* -------------------- MEDIA QUERIES -------------------- */
@media screen and (min-width: 992px) {
  section.tarjetas-sobreMi .tarjetas-sobreMi__info {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px; }
    section.tarjetas-sobreMi .tarjetas-sobreMi__info img {
      height: 98%;
      object-fit: cover;
      margin-bottom: 20px; } }

@media screen and (min-width: 1024px) {
  section.tarjetas-sobreMi .tarjetas__titular--about {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Quicksand";
    height: 80px;
    padding-top: 15px; }
  section.tarjetas-sobreMi .tarjetas-sobreMi__info {
    column-gap: 20px; } }

@media screen and (min-width: 1200px) {
  section.tarjetas-sobreMi .tarjetas__titular--about {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Quicksand";
    height: 80px;
    padding-top: 15px; }
  section.tarjetas-sobreMi .tarjetas-sobreMi__info {
    column-gap: 20px; } }

/* COLORES  */
section.tarjetas-servicios {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(123, 123, 123, 0.5);
  margin-top: 50px;
  background: #f8f8f8; }
  section.tarjetas-servicios .tarjetas__titular--servicios1 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Quicksand";
    text-align: center;
    background-image: url("../img/marmol-negro1.jpg");
    height: 50px;
    margin-top: 100px;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  section.tarjetas-servicios .tarjetas__titular--servicios {
    font-size: 20px;
    font-weight: 600;
    font-family: "Quicksand";
    text-align: center;
    background-image: url("../img/marmol-negro1.jpg");
    height: 50px;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  section.tarjetas-servicios .tarjetas-servicios__info {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 20px;
    padding: 15px 0;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    font-family: "Barlow"; }
  section.tarjetas-servicios img {
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(123, 123, 123, 0.5); }
  section.tarjetas-servicios h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Quicksand";
    color: #929292; }
  section.tarjetas-servicios .fa-chevron-right {
    margin-right: 15px;
    font-size: 25px;
    color: #e4e4e4; }

/* ---------------------------------------------------------- */
/* -------------------- MEDIA QUERIES -------------------- */
@media screen and (min-width: 992px) {
  section.tarjetas-servicios .tarjetas-servicios__info {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px; }
    section.tarjetas-servicios .tarjetas-servicios__info img {
      height: 98%;
      object-fit: cover;
      margin-bottom: 20px; } }

@media screen and (min-width: 1024px) {
  section.tarjetas-servicios .tarjetas__titular--servicios1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Quicksand";
    height: 80px;
    padding-top: 15px; }
  section.tarjetas-servicios .tarjetas__titular--servicios {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Quicksand";
    height: 80px;
    padding-top: 15px; }
  section.tarjetas-servicios .tarjetas-servicios__info {
    column-gap: 20px; } }

@media screen and (min-width: 1200px) {
  section.tarjetas-servicios {
    height: 580px; }
    section.tarjetas-servicios .tarjetas__titular--servicios1 {
      font-size: 3rem;
      font-weight: 600;
      font-family: "Quicksand";
      height: 80px;
      padding-top: 15px; }
    section.tarjetas-servicios .tarjetas__titular--servicios {
      font-size: 3rem;
      font-weight: 600;
      font-family: "Quicksand";
      height: 80px;
      padding-top: 15px; }
    section.tarjetas-servicios .tarjetas-servicios__info {
      column-gap: 20px; }
      section.tarjetas-servicios .tarjetas-servicios__info img {
        height: 80%;
        object-fit: cover;
        margin-bottom: 20px; } }

/* COLORES  */
.tarjetas__fotos {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 10px;
  margin-top: 80px;
  cursor: pointer; }
  .tarjetas__fotos .container-fotos {
    position: relative;
    width: 100%; }
  .tarjetas__fotos .image {
    display: block;
    width: 100%;
    height: auto; }
  .tarjetas__fotos .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease; }
  .tarjetas__fotos .container-fotos:hover .overlay {
    bottom: 0;
    height: 100%; }
  .tarjetas__fotos .text {
    color: #000000;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

/* ---------------------------------------------------------- */
/* -------------------- MEDIA QUERIES -------------------- */
/* COLORES  */
section.tarjetas-contacto {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-top: 50px;
  background: #f8f8f8; }
  section.tarjetas-contacto .tarjetas-contacto__titular {
    font-size: 20px;
    font-weight: 600;
    font-family: "Quicksand";
    text-align: center;
    background-image: url("../img/marmol-negro1.jpg");
    height: 50px;
    margin-top: 100px;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  section.tarjetas-contacto .formulario {
    padding-top: 20px;
    padding-bottom: 20px; }
    section.tarjetas-contacto .formulario .formulario__input,
    section.tarjetas-contacto .formulario .formulario__area,
    section.tarjetas-contacto .formulario .formulario__submit {
      display: block;
      width: 100%;
      font-family: 'Barlow';
      font-weight: 200;
      font-size: 16px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 10px; }
    section.tarjetas-contacto .formulario .formulario__submit:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
      background: #000000;
      color: #ffffff; }

@media screen and (min-width: 1024px) {
  section.tarjetas-contacto .tarjetas-contacto__titular {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Quicksand";
    height: 80px;
    padding-top: 15px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  width: 90%;
  margin: auto;
  max-width: 1000px; }

/* ---------------------------------------- */
/* ---------------- BODY ---------------- */
body.fondo {
  font-family: 'Barlow', sans-serif;
  background-image: url("../img/marmol-blanco.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

/* ---------------------------------------- */
/* ---------------- MENÚ ---------------- */
.negro {
  background: black; }
  .negro .logo {
    width: 40px; }
  .negro .nav-item:hover {
    background: #6b6b6b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  .negro .nav-link {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 200;
    font-family: "Barlow";
    text-align: center; }
  .negro .active {
    background: #929292; }

/* AL HACER SCROLL */
.top-nav-collapse {
  background: rgba(131, 131, 131, 0.9); }

/* ---------------------------------------- */
/* ----------- ACCESOS RÁPIDOS ----------- */
section.accesos-rapidos {
  text-align: center;
  background: #2b2b2b;
  color: #ffffff;
  height: 220px;
  padding-top: 15px;
  margin-top: 50px;
  font-family: 'Quicksand'; }
  section.accesos-rapidos h4 {
    padding-top: 10px;
    font-size: 1.3rem;
    font-weight: 600; }
  section.accesos-rapidos .accesos-rapidos__links {
    padding-top: 10px;
    padding-bottom: 15px; }
    section.accesos-rapidos .accesos-rapidos__links a {
      padding-right: 10px;
      text-decoration: none;
      color: #ffffff; }
    section.accesos-rapidos .accesos-rapidos__links i {
      padding-right: 5px; }
  section.accesos-rapidos .accesos-rapidos__links--sociales i {
    font-size: 1.7rem;
    padding-right: 20px;
    padding-top: 10px;
    color: #ffffff;
    margin: auto; }

/* ---------------------------------------- */
/* --------------- FOOTER --------------- */
footer.footer-copyrigh {
  text-align: center;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 200;
  font-family: "Barlow";
  background: #000000;
  height: 40px;
  padding-top: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5); }

/* ---------------------------------------- */
/* ----------- MEDIA QUERIES ----------- */
@media screen and (min-width: 992px) {
  .accesos-rapidos__links a {
    margin-right: 50px; } }

@media screen and (min-width: 1024px) {
  .accesos-rapidos__links a:hover {
    cursor: pointer;
    border-bottom: #ffffff solid 2px; }
  .accesos-rapidos__links--sociales .fa-facebook-f:hover {
    color: #004ddb; }
  .accesos-rapidos__links--sociales .fa-instagram:hover {
    color: #d60096; }
  .accesos-rapidos__links--sociales .fa-whatsapp:hover {
    color: #2e9100; }
  .accesos-rapidos__links--sociales .fa-envelope:hover {
    color: #cf0000; } }
