/* COLORES  */ 
$iconos: #4d4d4d;
$hover-fb: #03009c;
$hover-ig: #83003d;
$hover-ws: #2e9100;
$hover-gm: #cf0000;

$bg-navegacion: #272727;
$h3-navegacion: #ffffff;
$txt-navegacion: #ffffff;

$bg-footer: #000000;
$txt-footer: #ffffff;

$idea: #dbc500;
$precision: #2e9100;
$satisfaccion: #cf0000;
$diseno: #03009c;

$titulo: #ffffff;
$sub: #929292;

$tarjetas: #f8f8f8;