/* COLORES  */ 
$iconos: #4d4d4d;
$hover-fb: #004ddb;
$hover-ig: #d60096;
$hover-ws: #2e9100;
$hover-gm: #cf0000;

$bg-navegacion: #272727;
$h3-navegacion: #ffffff;
$txt-navegacion: #ffffff;

$bg-footer: #000000;
$txt-footer: #ffffff;

$idea: #e0d996;
$precision: #a1bd95;
$satisfaccion: #c79999;
$diseno: #72719e;

$titulo: #ffffff;
$sub: #929292;

$tarjetas: #f8f8f8;

$boton-menu: #ffffff;
$item-menu: #ffffff;
$navbar: #000000;
$enlaces:#ffffff;
$hover-enlaces: #6b6b6b;
$activo-menu: #929292;