@import '../scss/variables';
@import '../scss/mixins';

section.portada {
background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0, 0, 0, 0.973) 100%), url(../img/marmol-negro1.jpg);
display: flex;
width: 100%;
justify-content: center;
align-items: center;
height: 300px;
background-size: cover;
margin-bottom: 30px;
    img {
    width: 45%;
    }
}
section.tarjetas {
border-radius: 5px;
box-shadow: 0 4px 4px 0 rgba(123,123,123,.5);
margin-bottom: 20px;
margin-top: 50px;
background: $tarjetas;
    .tarjetas__titular {
    @include h1 (20px, 600, 'Quicksand');
    text-align: center;
    background-image: url("../img/marmol-negro1.jpg");
    height: 50px;
    padding-top: 5px;
    color: $titulo;
    }
    .tarjetas__info {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    padding: 15px 0;
    text-align: justify;
    @include p (16px, 400, 'Barlow');
        h3 {
        @include h3 (20px, 600, 'Quicksand');
        color: $sub;
        }
    }
    .tarjetas__fotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 15px;
    padding: 15px 0;
        img {
        box-shadow: 0 4px 4px 0 rgba(123,123,123,.5);
        border-radius: 5px;
        width: 100%;
        }
        img:hover {
        opacity: .5;
        cursor: pointer;
        }
    }
    .fa-lightbulb {
    color: $idea;
    margin-right: 15px;
    font-size: 25px;
    }
    .fa-pencil-ruler {
    color: $diseno;
    margin-right: 15px;
    font-size: 25px;
    }
    .fa-ruler-combined {
    color: $precision;
    margin-right: 15px;
    font-size: 25px;
    }
    .fa-heart {
    color: $satisfaccion;
    margin-right: 15px;
    font-size: 25px;
    }
}